jmespath

# Flask
Flask
Flask-restful
Flask-Script

# JSON serializer
flask-marshmallow
marshmallow-sqlalchemy
marshmallow

# requests
#urllib3<1.23
urllib3<1.23,>=1.21.1
requests>=2.0.0, <3.0.0

# Cache
dogpile.cache

# Database
SQLAlchemy
Flask-SQLAlchemy
Flask-Migrate

# Testing
coverage
nose
Flask-Testing
pytest
pytest-cov
pytest-ordering
pytest-docker-compose
pytest-html

# Scheduler
apscheduler
Flask-APScheduler

# Socket
python-engineio==3.0.0
python-socketio==2.1.0
Flask-SocketIO==3.1.0
eventlet==0.25.0

# Production
gunicorn

# Elasticsearch
six
python-dateutil
